
.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
  font-family: sans-serif;
  font-size: 18px
  
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  text-decoration: none;
  /*rainbow stroke*/
  -webkit-animation:rainbow 5s infinite;
-ms-animation:rainbow 5s infinite;
-o-animation:rainbow 5s infinite;
animation:rainbow 5s infinite;
}
@-webkit-keyframes rainbow {
10% {color: #16E3B7;}
20% {color: #FF0088;}
30% {color: #16E3B7;}
40% {color: #FF0088;}
50% {color: #16E3B7;}
60% {color: #FF0088;}
70% {color: #16E3B7;}
80% {color: #FF0088;}
90% {color: #16E3B7;}
100% {color: #FF0088;}
}
@-ms-keyframes rainbow {
  10% {color: #16E3B7;}
  20% {color: #FF0088;}
  30% {color: #16E3B7;}
  40% {color: #FF0088;}
  50% {color: #16E3B7;}
  60% {color: #FF0088;}
  70% {color: #16E3B7;}
  80% {color: #FF0088;}
  90% {color: #16E3B7;}
  100% {color: #FF0088;}
}
@-o-keyframes rainbow {
  10% {color: #16E3B7;}
  20% {color: #FF0088;}
  30% {color: #16E3B7;}
  40% {color: #FF0088;}
  50% {color: #16E3B7;}
  60% {color: #FF0088;}
  70% {color: #16E3B7;}
  80% {color: #FF0088;}
  90% {color: #16E3B7;}
  100% {color: #FF0088;}
}
@keyframes rainbow {
  10% {color: #16E3B7;}
  20% {color: #FF0088;}
  30% {color: #16E3B7;}
  40% {color: #FF0088;}
  50% {color: #16E3B7;}
  60% {color: #FF0088;}
  70% {color: #16E3B7;}
  80% {color: #FF0088;}
  90% {color: #16E3B7;}
  100% {color: #FF0088;}
  /*rainbow stroke end*/
}

/* navbar stroke */



/*navbar stroke end*/


/* Change navbar styling on scroll */
.navbar.active {
  color: transparent;
  /*box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);*/
}

.navbar.active .nav-link {
  color: transparent;
  transition: all 1s;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: transparent;
  text-decoration: none;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      background: transparent;
  }

  .navbar .nav-link {
      color: #fff;
      font-family: sans-serif;
  }
}

  #landing-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 38px
  }

header {
    position: relative;
    background-color: rgb(28, 29, 31);
    height: 100vh;
    min-height: 20rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 120%;
    width: 100%;
    background-color: rgb(29, 2, 19);
    opacity: 0.5;
    z-index: 1;
  }

  p .container{
    display: block;
    font-size: 400em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;

    
  }

  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('assets/background_landing.mp4') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  
/* partner section */
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .footer_main {
      padding: 0px 0px 50px 0px;
    }
  }
  
 
  
  .trustlogos {
    content: url(assets/gartnerblackstone.png);
    margin: 10px auto;
    max-width: 100%;
  }
  
  .trust_top {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  
  .trust_top p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgb(0, 0, 0, 0.5);
  }
  /* partner section */

  /*footer css */
  .footer-text small{
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  /*footer end */

  /* hero curtain*/
  /*.active {
    position:relative;
   /* margin-top:-111px;
    margin-top:-6%;
    margin-top:-118px;
    height:900px;
  }

  .activetwo {
    height:10px;
    position:absolute;
  }
  */
  
  /* hero curtain end*/