header {
    position: relative;
    background-color: rgb(28, 29, 31);
    height: 100vh;
    min-height: 20rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 120%;
    width: 100%;
    background-color: rgb(28, 29, 31);
    opacity: 0.5;
    z-index: 1;
  }

  h1 .container{
    display: block;
    font-size: 100em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  

  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('assets/background_landing.mp4') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }